{% extends 'base.html' %}

{% block titulo %}Acerca de Mí{% endblock %}

{% block contenido %}
    <h1>Acerca del Desarrollador</h1>
    <p>
        Hola, soy Sebastian Montenegro, el creador de este proyecto de concesionario de autos en Django.
        Este sitio web fue desarrollado como parte de un proyecto final de Python de Coderhouse.
    </p>
    <p>
        Mi objetivo fue construir una plataforma funcional que simule un concesionario, permitiendo
        a los usuarios ver listados de autos, detalles específicos, y a los usuarios registrados
        crear, editar y eliminar entradas de autos, así como gestionar sus propios perfiles.
    </p>
    <p>
        Si tienes alguna pregunta o sugerencia, no dudes en contactarme.
    </p>
    <p class="text-muted">
        *Sebastian Montenegro - Coderhouse 2025*
    </p>
{% endblock %}