{% extends 'base.html' %}

{% block titulo %}
    {% if form.instance.pk %}Editar Auto{% else %}Crear Nuevo Auto{% endif %}
{% endblock %}

{% block contenido %}
    <h1>{% if form.instance.pk %}Editar Auto{% else %}Crear Nuevo Auto{% endif %}</h1>
    <form method="post" enctype="multipart/form-data"> 
        {% csrf_token %}
        {{ form.as_p }} 
        <button type="submit" class="btn btn-success">Guardar</button>
        <a href="{% url 'lista_autos' %}" class="btn btn-secondary">Cancelar</a>
    </form>
{% endblock %}